{% extends 'base.html.twig' %}
{% block title %}episode_show{% endblock %}
{% block body %}
    <div>
        <h1>Série : {{ program.title }}</h1>
        <h2>Saison numéro : {{ season.number }}</h2>
        <h2>Episode {{ episode.number }} - {{ episode.title }}</h2>
        <p>Synopsis : {{ episode.synopsis }}</p>
    </div>
    <div>
        <ul>
            <li>
                <a href="{{ path('program_season_show', {'slug': program.slug, 'season': episode.season.id}) }}">Retourner à la saison {{ season.number}} de {{ program.title }}</a>
            </li>
            <li>
                <a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
            </li>
        </ul>
    </div>
{% endblock %}