{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}
{% block body %}
    <div>
        <h1>{{ program.title }}</h1>
        {% for season in seasons %}
            <h2>{{ season.description }}</h2>
        <a href="{{ path('program_season_show', {'program_id': program.id, 'season_id': season.id}) }}">Voir la fiche</a>
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}