{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ accueil }}</h1>
    <img src="{{ asset('build/Titre-Wild.png') }}" alt="twig-logo"/>
    <div>
        <ul>
            <li>
                <a href="{{ path('category_index') }}">Découvrez les catégories !</a>
            </li>
            <li>
                <a href="{{ path('category_new') }}">Ajoutez une catégorie</a>
            </li>
            <li>
                <a href="{{ path('program_new') }}">Ajoutez une série</a>
            </li>
            <li>
                <a href="{{ path('season_new') }}">Ajoutez une saison</a>
            </li>
            <li>
                <a href="{{ path('episode_new') }}">Ajoutez un episode</a>
            </li>
        </ul>
    </div>
{% endblock %}